
{% extends 'base.html' %}
{% load static %}
{% block title %}Чат - комнаты{% endblock title %}


{% block content %}

   {% comment %} {{ chat_rooms }}
{{ user.username}} {% endcomment %}
{% if chat_rooms %}
<h3 class="text-center">Чат - комнаты</h3>

<table class="table table-dark align-middle table-ms mt-2">
   {% for item in chat_rooms %}
      <tr class="">
         
         <td class="text-light ps-3 w-75">
            {{item.name}} - Создал
            <span>{{request.user.username}}</span>
         </td>
         <td><a href={% url 'room' item.id %} class='btn btn-outline-success'>Подключиться</a></td>
         <td><a href={% url 'room' item.id %} class='btn btn-outline-success'>Войти</a></td>
         {% if item.creator_id == request.user.id%}
            <td class="text-end pe-3"> <a id={{ item.id }} class="btn btn-outline-danger delete_room">Удалить</a></td>
         {% else %}
         <td class="text-end pe-3"> <a id={{ item.id }} class="btn btn-outline-secondary disabled delete_room">Удалить</a></td>
         {% endif %}
      </tr>
   {% endfor %}   
</table>



{{ request.user.username|json_script:"user_username" }}
{% comment %} {{ chat_box_name|json_script:"box-name" }} {% endcomment %}

{{ rooms|json_script:'rooms'}}
{% else %}
<h3> Нет Чат-комнат</h3>
{% endif %}
 
{% endblock content %}
{% block scripts %}
<script src={% static 'js/room_delete.js' %}></script>
{% endblock scripts %}