{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Создать комнату{% endblock title %}

{% block content %}
    <form action={% url 'rooms' %} >
        {% csrf_token %}
        {{ form.name|as_crispy_field }}
    <button class="btn btn-outline-success" type='submit'>Сохранить</button>
    </form>

{{ request.user.profile.id|json_script:"user_id"}}

{% endblock content %}

{% block scripts %} 
<script src={% static 'js/room_create.js'%}></script>
{% endblock scripts %}