{% extends 'base.html' %}

{% block  %}
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" class="h4 pt-5">{{ chat_room.name }}</label>
                        <textarea class="form-control" id="chat-text" readonly rows="10"></textarea><br>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Enter text here" id="input" type="text"></br>
                    </div>
                    <input class="btn btn-primary btn-lg btn-block" id="submit" type="button" value="Send">
                </form>
            </div>
        </div>
    </div>
    {{ request.user.username|json_script:"user_username" }}
    {{ chat_room.slug|json_script:'room'}}

    <script src={% static 'js/bootstrap.min.js' %}></script>
    <script src={% static 'js/scripts.js' %}></script>
    
{% endblock  %}