
{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title %}


{% block content %}

   {{ chat_rooms }}
{{ user.username}}
{% if chat_rooms %}

{{ request.user.username|json_script:"user_username" }}
{% comment %} {{ chat_box_name|json_script:"box-name" }} {% endcomment %}

{{ rooms|json_script:'rooms'}}
{% endif %}
 
{% endblock content %}

{% block scripts %}
<script src={% static 'js/bootstrap.min.js' %}></script>
<script src={% static 'js/scripts.js' %}></script>
{% endblock scripts %}